<!-- your html code here -->
<div class="row">
    <div class="col-6">
        <div class="d-flex">
            <h5>This first </h5>
            <h5 class="text-secondary ml-1"> Heading Will Catch Your Eye</h5>
        </div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt</p>
    </div>

    <div class="col-6 d-flex justify-content-start align-items-flex-start">
        <img class="rounded-circle w-75 p-3"
            src="https://larepublica.pe/resizer/ZXEdBjxkzUo9ym-Sks1bJBGJFeM=/1250x735/top/larepublica.pe/resizer/3suao21G7gn6olL9iF5wcV-yupU=/1250x735/top/smart/larepublica.pe/resizer/QoaMjjLvixSfFATTrXXv7E0yEEA=/1250x735/top/smart/arc-anglerfish-arc2-prod-gruporepublica.s3.amazonaws.com/public/K3IFCG7OA5EMBP6BKVVUBP4WCM.jpg">
    </div>

    <!-- SEGUNDA PARTE -->
    <div class="col-6 d-flex align-items-start">
        <img class="rounded-circle w-100 p-3 "
            src="https://pixabay.com/get/g9b90cc39bae3ff1e1f1d00598cf47458014fd406c16ae5437bb39ff13bd7d9376dedf511f1fd83a0f90dd58f407c89fc_640.jpg">
    </div>
    <div class="col-6 ">
        <div class="d-flex">
            <h5>This first </h5>
            <h5 class="text-secondary ml-1"> Heading Will Catch Your Eye</h5>
        </div>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem
            aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
            dolores eos qui ratione voluptatem sequi nesciunt</p>
    </div>
</div>